body table {
    font-size: medium;
}

table .tr {
    border-bottom: none;
}

table .colrightalign {
    text-align: right;
}

table .colleftalign {
    text-align: left;
}

table .colunderline {
    text-align: right;
    border-bottom: 1px solid #000;
}

table .coldoubleunderline {
    text-align: right;
    border-bottom: 1px double #000;
    text-decoration: underline;
}

.list {
    display: block;
    font-size: medium;
    color: #666666;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFFFFF;
}

    .list li:hover {
        background-color: #DDDDDD;
        color: #666666;
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
    }

.menu li {
    padding: 10px;
    display: inline;
    margin: 5px;
    font-size: medium;
    color: #000080;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    background-color: #FFF21B;
    width: 80%;
    right: auto;
    left: auto;
    text-align: center;
}

    .menu li:hover {
    cursor: pointer;
    background-color: #FFF21B;
    color: #666666;
    font-weight: bold;
    text-decoration: underline;
}

.menu .menuitemselected {
    background-color: #666666;
    color: #FFF21B;
}

.cw2t {
    height: 10px;
    width: 100%;
}

.yellowstrip {
    background-color: #FFF21B;
    width: 460px;
    white-space: nowrap;
    margin: 2px;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    font-size: medium;
}

a {
    font-size: medium;
    margin: 10px;
    color: #C0C0C0;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
}

    a:link {
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    a:hover {
        text-decoration: underline;
    }

textarea {
    display: inline-block;
    border: 1px solid #AACFE4;
    font-size: medium;
    width: 600px;
    height: 150px;
    margin: 5px;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chatbtn {
    font-size: 21px;
    background-color: #ddd;
    color: #666666;
    cursor: pointer;
}

.depthstrip {
    width: 740px;
    white-space: nowrap;
    margin: 3px;
}

.headingstrip {
    /*width: 740px;*/
    width: 460px;
    white-space: nowrap;
    margin: 3px;
}

.bidquantity {
    display: inline-block;
    width: 80px;
    font-size: 21px;
    text-align: right;
    color: gray;
    cursor: pointer;
}

.offerquantity {
    display: inline-block;
    width: 80px;
    font-size: 21px;
    color: gray;
    cursor: pointer;
}

.bidquantityheading {
    display: inline-block;
    width: 80px;
    font-size: 12px;
    text-align: right;
    color: gray;
}

.offerquantityheading {
    display: inline-block;
    width: 80px;
    font-size: 12px;
    color: gray;
}

.yellowstripbidflashup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    background-color: blue;
    color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
}

.yellowstripbidflashdn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    background-color: red;
    color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
}

.yellowstripbidflashnochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    background-color: green;
    color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
}

.bidflashup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: white;
    background-color: blue;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bidflashdn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: white;
    background-color: red;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bidflashnochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: white;
    background-color: green;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripofferflashup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    background-color: blue;
    color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripofferflashdn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    background-color: red;
    color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripofferflashnochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    background-color: green;
    color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offerflashup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: white;
    background-color: blue;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offerflashdn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: white;
    background-color: red;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offerflashnochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: white;
    background-color: green;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripbidup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: blue;
    background-color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripbiddn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: red;
    background-color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripbidnochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: green;
    background-color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bidup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: blue;
    background-color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.biddn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: red;
    background-color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bidnochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: green;
    background-color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripofferup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: blue;
    background-color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripofferdn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: red;
    background-color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellowstripoffernochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: green;
    background-color: #D7D7D7;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offerup {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: blue;
    background-color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offerdn {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: red;
    background-color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offernochange {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: green;
    background-color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bidheading {
    display: inline-block;
    width: 120px;
    font-size: small;
    text-align: right;
    color: #808080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offerheading {
    display: inline-block;
    width: 120px;
    font-size: small;
    text-align: left;
    color: #808080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bid {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: right;
    color: green;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offer {
    display: inline-block;
    width: 120px;
    font-size: large;
    text-align: left;
    color: green;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stock {
    display: inline-block;
    width: 180px;
    font-size: large;
    color: gray;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stockheading {
    display: inline-block;
    width: 180px;
    font-size: medium;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slash {
    display: inline-block;
    width: 20px;
    font-size: large;
    color: green;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slashheading {
    display: inline-block;
    width: 20px;
    font-size: large;
    color: gray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.level2 {
    display: inline-block;
    width: 19px;
    font-size: 33px;
    color: gray;
    cursor: pointer;
}

.removestock {
    display: inline-block;
    width: 19px;
    font-size: 21px;
    color: gray;
    cursor: pointer;
}

.level2heading {
    display: inline-block;
    width: 19px;
    font-size: 12px;
}

.forminstrument {
    width: 740px;
    white-space: nowrap;
}

.orderquantity {
    width: 90px;
    font-size: 18px;
    margin-left: 3px;
}

.orderstock {
    color: gray;
    display: inline-block;
    width: 160px;
    font-size: 21px;
    margin-left: 3px;
    text-align: center;
}

.orderprice {
    width: 90px;
    font-size: 18px;
}

.orderbuttonbuy {
    font-size: 21px;
    border-style: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.orderbuttonsell {
    font-size: 21px;
    border-style: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

.ordermsg {
    color: #ccc;
    font-size: 18px;
}

.forminstbutton {
    border-style: none;
    background-color: #DDDDDD;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.formsignininput {
    padding: 5px;
    border: 1px solid #FF0000;
    margin: 5px;
    width: 400px;
    font-size: medium;
    color: #000000;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    text-align: left;
    left: auto;
    right: auto;
}

.formsignininputm {
    border: 1px solid #FF0000;
    margin: 6px;
    width: 400px;
    font-size: medium;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.formsigninbutton {
    border-style: none;
    margin: 5px;
    padding: 5px;
    color: #808080;
    font-size: medium;
    height: auto;
    width: auto;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    text-align: center;
    background-color: #FFF21B;
    cursor: pointer;
}

.formsigninbuttonm {
    border-width: 0px;
    margin: 6px;
    padding: 0px;
    border-style: none;
    background-color: #CCCCCC;
    font-size: medium;
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.quotebuybutton {
    font-size: medium;
    background-color: #DDDDDD;
    color: #0000FF;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quotesellbutton {
    font-size: medium;
    background-color: #DDDDDD;
    color: #FF0000;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.refreshbutton {
    height: 24px; /*width: 120px;*/
    font-size: medium;
    background-color: #C0C0C0;
    color: gray;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quotereqquantity {
    font-size: 21px;
    margin-left: 3px;
    width: 99px;
    color: #C0C0C0;
}

.quotereqbutton {
    font-size: 21px;
    background-color: #ddd;
    color: gray;
    cursor: pointer;
}

.settlabel {
    /*font-size: 21px;*/
    color: gray;
}

.timerlabel {
    display: inline-block;
    width: 200px;
    font-size: 21px;
    text-align: center;
    color: #C0C0C0;
}

.ordertype {
    margin-left: 6px;
}

.stockbox {
    border-style: none;
    position: relative;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    background-color: #FFFFFF;
}

.stockboxinput {
    border: 1px solid #C0C0C0;
    padding: 0px;
    margin: 5px;
    width: 200px;
    height: 25px;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    font-size: medium;
    color: #000000;
    text-align: left;
    left: auto;
    right: auto;
}

.stocklist {
    position: absolute;
    border: 1px solid #C0C0C0; /*list-style: none;*/
    width: 600px;
    height: 300px;
    overflow: scroll;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    font-size: medium;
    background-color: #EEEEEE;
    color: #666666;
    text-align: left;
}

    .stocklist li:hover {
    cursor: pointer;
    background-color: #666666;
    color: #FFFFFF;
}

.getquotebutton {
    background-color: #ddd;
    width: 120px;
    cursor: pointer;
}

.quantitycashsel {
    font-size: 21px;
}

.linkselected {
    color: #666666;
}

.formlabel {
    display: inline-block;
    width: 150px;
    font-size: 21px;
    text-align: right;
    color: gray;
}

.forminput {
    display: inline-block;
    font-size: 18px;
    border: solid 1px #aacfe4;
    width: 450px;
    margin: 2px 0 15px 10px;
}

.formbutton {
    border-style: none;
    margin: 5px;
    padding: 5px;
    color: #808080;
    font-size: medium;
    height: auto;
    width: auto;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    text-align: center;
    background-color: #FFF21B;
    cursor: pointer;
}

.basebarleft {
    margin: 0px;
    padding: 0px;
    background-color: #666666;
    color: #FFF21B;
    font-size: x-small;
    width: 100%;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    text-align: left;
    height: 120px;
}

.basebarright {
    margin: 0px;
    padding: 0px;
    background-color: #666666;
    color: #FFF21B;
    font-size: x-small;
    width: 100%;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    text-align: right;
    height: 120px;
}

.main {
    height: auto;
    width: 100%;
    text-align: center;
}

.linkbutton {
    border-style: none;
    margin: 5px;
    padding: 5px;
    color: #808080;
    font-size: medium;
    height: auto;
    width: auto;
    font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif;
    text-align: center;
    background-color: #FFF21B;
    cursor: pointer;
}
